.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /* background-color: yellow; */
}

.topSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

}
.text{
    color: #4B5563;

}

.middleSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.expenseBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 10rem;
    height: 6rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #374151;



}

.expenseBox span{
    font-weight: bold;
    color: green;
}

.btn{
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background-color: #D1D5DB;
    color: #4B5563;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: 1px solid #4B5563;

}

.cancel{
    color: #EF4444;
    border: 1px solid #EF4444;
    background-color: var(--body-color);
}

@media screen and (min-width:768px){
    
.topSection,.middleSection{
    justify-content: space-evenly;
}
.expenseBox{
    width: 14rem;
    height: 8rem;
    font-size: 1.5rem;


}

.btn{
    font-size: 1.7rem;
}



} 