.container{
    /*should be change in responsive design*/
    width: 300px;
    display: flex;
    flex-direction: column;

}

.topSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*should be change in responsive design*/
    margin-bottom: 1rem;

}

.middleSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
     /*should be change in responsive design*/
     margin-bottom: 1rem;
}
.expenseBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
     /*should be change in responsive design*/
    width: 135px;
     /*should be change in responsive design*/
    height: 60px;
     /*should be change in responsive design*/
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.expenseBox span{
    font-weight: bold;
    color: green;
}

.btn{
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background-color: #ede9fe;
    color: #6d28d9;
     /*should be change in responsive design*/
    padding: 5px 10px;
    border: 1px solid #6d28d9;

}

.cancel{
    background-color: #fff;
    color: #dc2626;
    border: 1px solid #dc2626;
}